body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
}

.home {
  border: solid yellow 2px;
}

.gallary {
  width: 80vw;
  height: 40vh;
  border: solid blue 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  overflow-y: scroll;
}

.dCard {
  border: solid green 2px;
  font-size: 18px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite {
  border: solid red 2px;
}

.pic {
  width: 100px;
}